{% extends "admin/admin_layout.html"%}

{% block admincontent %}

<h3>Edit Book</h3>
<form method="post" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="text" value="{{bb.book_title}}" class="form-control" name="title"> <br>
    <input type="text" value="{{bb.catdeets.cat_name}}" class="form-control" name="category"> <br>
    <div class="mb-3">
        <label class="form-label" for="customFile">Upload Cover</label>
        <input type="file" class="form-control" id="customFile" name="cover">
      </div>

    <button class="btn btn-danger">Update!</button>
</form>


{% endblock %}